* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    background-color: #ececec;
}

body {
    font-size: 10px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    margin: 0 auto;
}

#mainWindow{
    margin-top: 70px;
    margin-left: 20%;
    margin-bottom: 40px;
}

.content > nav {
    text-align: center;
}

.cell > article {
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.cell > article h4 {
    font-size: 2.4rem;
    letter-spacing: 1.4px;
    margin-bottom: .9rem;
}

.cell > .siteMap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem 1rem 2rem 0rem;
    padding: 0;
}

.cell > .siteMap > ul {
    list-style-type: none;
}

.cell > .siteMap > ul > li a{
    text-decoration: none;
}

.cell > .siteMap > ul > li {
    display: inline-block;
    /* margin-left: .5rem; */
}

.cell > .siteMap > ul > li > a {
    font-size: 1.5rem;
}

.cell > .siteMap > ul > li+li:before {
    padding: 1.25rem;
    font-size: 1.5rem;
    color: darkgrey;
    content: "/\00a0";
}

.cell > .siteMap > ul > li:first-of-type {
    margin-left: 0;
}

.mobileNav {
    background-color: red;
    display: block;
}

.grow {
    flex-grow: 1;
}

.content .searchBar {
    text-align: center;
}

.btn {
    cursor: pointer;
}

.input {
    padding: 1rem 6rem 1rem 2rem;
    margin-left: 2rem;
    border-radius: 3rem;
    border: .1rem solid #979797;
    font-size: 2rem;
    text-align: left;
}

.ta-left {
    text-align: left;
}

.cell > .card {
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px #c6c6c6;
}

.cell > .card > hr {
    margin: .25rem 0;
}

.cell > .card > ul {
    margin: .5rem 2rem;
}

.cell > .card > ul > li {
    list-style-type: none;
}

.cell > .card > ul > li, .cell > .card > ul > li > a {
    font-size: 1.4rem;
    letter-spacing: .75px;
    margin-top: 1rem;
}

.cell > .card > h5 {
    font-size: 1.75rem;
    letter-spacing: 1px;
    margin-top: 1.25rem;
}

.cell > .card > ul > h6 {
    font-size: 1.5rem;
    letter-spacing: .75px;
    margin-top: 1rem;
}

p {
    font-size: 1.4rem;
    letter-spacing: 1.1px;
    margin-top: 1rem;
}
/* general classes */


.codeSnippet {
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 800;
    color: red;
    background-color: lightgrey;
    padding: .25rem .5rem
}
.ttup {
    text-transform: uppercase;
}

.ttlow {
    text-transform: lowercase;
}

.fw100 {
    font-weight: 100;
}

.fw300 {
    font-weight: 300;
}

.fw500 {
    font-weight: 500;
}

.fw700 {
    font-weight: 700;
}

.fw900 {
    font-weight: 900;
}

.colorGreen {
    color: #00b371;
}

.colorGrayb9 {
    color: #b9b9b9;
}

.colorGrayc9 {
    color: #c9c9c9;
}

.colorBlack {
    color: #000000;
}

.colorBlack06 {
    color: #060606;
}

.colorGray42 {
    color: #424041;
}

.colorGray55 {
    color: #555555;
}

.colorGray64 {
    color: #646464;
}

.colorGray66 {
    color: #666666;
}

.colorWhiteff {
    color: #ffffff;
}

.btnColorGreenBright {
    background-color: #00b371;
}

.btnColorGreenForest {
    background-color: #006842;
}

.btnColorGreenDark {
    background-color: #2d3134;
}

.alert {
    margin: 1rem 0 0 0;
    width: 100%;
    padding: 2rem;
    color: #ffffff;
}

.fc-alert{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

.error {
    background-color: red;
}

.warn {
    background-color: orange;
}

.status {
    background-color: #00b371;
}

/* Flexbox Responsive Grid */

/* Grid Def */

.grid {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

/* Grid Justify */

.gridRight {
    justify-content: flex-end;
}

.gridCenter {
    justify-content: center;
}

/* Grid Gutters */

.gutters {
    margin-left: -3em;
}

.gutters .cell {
    /* padding-left: 1em; */
    padding-left: 3em;
}

/* Container Vertical Center*/

.contVertCenter {
    align-items: center;
}

/* Grid TextAlign */

.u-textCenter {
    text-align: center;
}

.cell {
    flex: 1;
}

.content {
    padding: 0.8rem 1rem 0;
    margin-bottom: 3rem;
}

.item-textCenter {
    text-align: center;
}

.item-textRight {
    text-align: right;
}

/* Alignment per cell */

.cell-top {
    align-self: flex-start;
}

.cell-bottom {
    align-self: flex-end;
}

.cell-center {
    align-self: center;
}

/* BASE GRID CLASSES - ALL  */

/* MOBILE FIRST!!!! */

.cols-2>.cell {
    flex: 0 0 100%;
}

.cols-3>.cell {
    flex: 0 0 100%;
}

.cols-4>.cell {
    flex: 0 0 100%;
}

.cols-6>.cell {
    /* flex: 0 0 calc(50% - 1em); */
    flex: 0 0 calc(100% - 1em);
}

.cols-12>.cell {
    /* flex: 0 0 calc(33.3333% - 1em); */
    flex: 0 0 calc(100% - 1em);
}

/* One of -- columns*/

.twothirds>.cell:first-of-type,
.half>.cell:first-of-type,
.third>.cell:first-of-type,
.quarter>.cell:first-of-type {
    flex: 0 0 100%;
}

.sixth>.cell:first-of-type {
    /* flex: 0 0 50%; */
    flex: 0 0 100%;
}

.fit>.cell {
    flex: 1;
}

.full>.cell {
    flex: 0 0 100%;
}
