* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    background-color: #ececec;
}

body {
    font-size: 10px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    margin: 0 auto;
}

#mainWindow{
    margin-top: 70px;
    margin-left: 20%;
    margin-bottom: 40px;
}

.content > nav {
    text-align: center;
}

.cell > article {
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.cell > article h4 {
    font-size: 3rem;
    letter-spacing: 1.4px;
    margin-bottom: .9rem;
}

.cell > .siteMap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem 1rem 2rem 0rem;
    padding: 0;
}

.cell > .siteMap > ul {
    list-style-type: none;
}

.cell > .siteMap > ul > li a{
    text-decoration: none;
}

.cell > .siteMap > ul > li {
    display: inline-block;
    /* margin-left: .5rem; */
}

.cell > .siteMap > ul > li > a {
    font-size: 1.5rem;
}

.cell > .siteMap > ul > li+li:before {
    padding: 1.25rem;
    font-size: 1.5rem;
    color: darkgrey;
    content: "/\00a0";
}

.cell > .siteMap > ul > li:first-of-type {
    margin-left: 0;
}

.mobileNav {
    background-color: red;
    display: block;
}

.grow {
    flex-grow: 1;
}

.content .searchBar {
    text-align: center;
}

.btn {
    cursor: pointer;
}

.ta-left {
    text-align: left;
}

.cell > .card {
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px #c6c6c6;
    margin: 3rem 0 0 0;
}

.cell > .card:first-of-type{
    margin: 0 0 0 0;
}

.cell > .card > hr {
    margin: .25rem 0;
}

.cell > .card > ul,
.cell > .card > ol {
    margin: .5rem 2rem;
}

.cell> .card > .bullet-exception > li {
    list-style-type: circle;
    margin-left: 3%;
}

.cell > .card > ul > li {
    list-style-type: none;
}

.cell > .card > ul > li, 
.cell > .card > ul > li a,
.cell > .card > ol > li, .cell > .card > ol > li > a,
.cell > .card > ol > li a {
    font-size: 1.4rem;
    letter-spacing: .75px;
    margin: 1rem 0 0 0;
}

.cell > .card > h5 {
    font-size: 1.75rem;
    letter-spacing: 1px;
    margin-top: 1.25rem;
}
h5 {
    font-size: 1.75rem;
    letter-spacing: 1px;
    margin-top: 1.25rem;
}
.cell > .card > ul li a:hover {
    color: #00b371;
}
.cell > .card > ul > li > a {
    font-size: 1.8rem;
    letter-spacing: .75px;
    margin: 1rem 0 0 0;
    text-decoration-line: none;
}

.cell > .card > ul > h6, h6 {
    font-size: 1.5rem;
    letter-spacing: .75px;
    margin-top: 1rem;
}

p {
    font-size: 1.4rem;
    letter-spacing: 1.1px;
    margin: .8rem 0 0 0;
}

.cell > .card > ul > li p {
    margin-top: .3rem;
}

.cell > .card > ul > p {
    margin: 1rem 0 1rem 0;
}

.cell > .card > ul > li > img {
    width: 100%;
}

.cell > .card > ol > li > img {
    width: 100%;
}

img {
    width: 100%;
}

.img-caption {
    text-align: center;
    font-style: italic;
    color: #424041;
}

.getStartedLink {
    /* font-size: 1.75rem;
    letter-spacing: 1px;
    margin-top: 1.25rem; */
    color: #006842;
    text-decoration: none;
}

.linkText {
    font-size: 1.75rem;
    letter-spacing: 1px;
    margin-top: 1.25rem;
    text-transform: uppercase;
    
}

.alpha-list, .unorder-list, .roman-list {
    margin-left: 5%;
    margin-top: 1%;
    /* font-size: 1.4rem;
    letter-spacing: 1.1px; */
}

.alpha-list li, .unorder-list li, .roman-list li {
    font-size: 1.4rem;
    letter-spacing: 1.1px;
}

.alpha-list {
    list-style-type: lower-alpha;
}

.roman-list {
    list-style-type: lower-roman;
}

/* Slideshow */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


.mySlides {
    display: none;
}

.hideImg {
    display: none;
}

.expand {
    margin-top: 2%;

}

.nextPrev {

    display: inline-block;
}

.prevBtn, .nextBtn, .expand {
    cursor: pointer;
    border-radius: 3px 3px 3px 3px;
    background-color: rgb(70, 233, 255);
    border: 1px solid darkblue;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    position: relative;
    font-size: 10px;
    margin-top: 1%;
}

.prevBtn:hover, .nextBtn:hover {
    background-color: rgba(70,233,255,0.5);
    border: 1px solid darkblue;
    color: #2d3134;
    }

.nextBtn {
    position: absolute;
    right: 0;
}
.prevBtn {
    position: absolute;
    left: 0;
}

/* general classes */
.codeSnippetGitCommand {
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 600;
    color: red;
    background-color: rgba(235, 235, 235, 1);
    /* margin: 0 2rem 0 .75rem; */
    padding: .125rem 1rem; 
}

.linkFormatting {
    font-size: 1.4rem;
    letter-spacing: .75px;
    margin: 1rem 0 0 0;
}

.ttup {
    text-transform: uppercase;
}

.ttlow {
    text-transform: lowercase;
}

.fw100 {
    font-weight: 100;
}

.fw300 {
    font-weight: 300;
}

.fw500 {
    font-weight: 500;
}

.fw700 {
    font-weight: 700;
}

.fw900 {
    font-weight: 900;
}

.colorGreen {
    color: #00b371;
}

.colorGrayb9 {
    color: #b9b9b9;
}

.colorGrayc9 {
    color: #c9c9c9;
}

.colorBlack {
    color: #000000;
}

.colorBlack06 {
    color: #060606;
}

.colorGray42 {
    color: #424041;
}

.colorGray55 {
    color: #555555;
}

.colorGray64 {
    color: #646464;
}

.colorGray66 {
    color: #666666;
}

.colorWhiteff {
    color: #ffffff;
}

.btnColorGreenBright {
    background-color: #00b371;
}

.btnColorGreenForest {
    background-color: #006842;
}

.btnColorGreenDark {
    background-color: #2d3134;
}

.alert {
    margin: 1rem 0 0 0;
    width: 100%;
    padding: 2rem;
    color: #ffffff;
}

.fc-alert{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

.error {
    background-color: red;
}

.warn {
    background-color: orange;
}

.status {
    background-color: #00b371;
}

/* Flexbox Responsive Grid */

/* Grid Def */

.grid {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

/* Grid Justify */

.gridRight {
    justify-content: flex-end;
}

.gridCenter {
    justify-content: center;
}

/* Grid Gutters */

.gutters {
    margin-left: -3em;
}

.gutters .cell {
    /* padding-left: 1em; */
    padding-left: 3em;
}

/* Container Vertical Center*/

.contVertCenter {
    align-items: center;
}

/* Grid TextAlign */

.u-textCenter {
    text-align: center;
}

.cell {
    flex: 1;
}

.content {
    padding: 0.8rem 1rem 0;
    margin-bottom: 3rem;
}

.item-textCenter {
    text-align: center;
}

.item-textRight {
    text-align: right;
}

/* Alignment per cell */

.cell-top {
    align-self: flex-start;
}

.cell-bottom {
    align-self: flex-end;
}

.cell-center {
    align-self: center;
}

/* BASE GRID CLASSES - ALL  */

/* MOBILE FIRST!!!! */

.cols-2>.cell {
    flex: 0 0 100%;
}

.cols-3>.cell {
    flex: 0 0 100%;
}

.cols-4>.cell {
    flex: 0 0 100%;
}

.cols-6>.cell {
    /* flex: 0 0 calc(50% - 1em); */
    flex: 0 0 calc(100% - 1em);
}

.cols-12>.cell {
    /* flex: 0 0 calc(33.3333% - 1em); */
    flex: 0 0 calc(100% - 1em);
}

/* One of -- columns*/

.twothirds>.cell:first-of-type,
.half>.cell:first-of-type,
.third>.cell:first-of-type,
.quarter>.cell:first-of-type {
    flex: 0 0 100%;
}

.sixth>.cell:first-of-type {
    /* flex: 0 0 50%; */
    flex: 0 0 100%;
}

.fit>.cell {
    flex: 1;
}

.full>.cell {
    flex: 0 0 100%;
}


/* Modal Imagery */

/* Style the Image Used to Trigger the Modal */
.imgModal {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.imgModal:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 1200px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 200%;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 56px;
    right: 35px;
    color: #faf6f6;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}