.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #2d3134;
    justify-content: flex-start;
    position: fixed;
    width: 20%;
    height: calc(100% - 70px - 40px);
    flex-grow: 1;
    margin: 0;
    box-shadow: 1px 0 4px 0 rgba(0, 0, 0, 0.5);
}

.sidebarLinksContainer {
    display: flex;
    flex-direction: column;
    height: calc(100% - 252px);
}

.sidebar > .sidebarLinksContainer {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0 1rem;
}

.sidebar > .sidebarLinksContainer > .sidebar-category {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 5%;
    padding: 2rem 0 2rem 0;
}

.sidebar-category-children {
    padding-left: 3rem;
}

.sidebarTitle {
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: uppercase;
    display: inline-block;
    padding: 1rem;
    
}


.sidebarTitle:hover, .sidebarTitle:active {
    color: #027d50;
    cursor: pointer;
}
.sidebar article span,
.sidebar article span a {
    font-size: 1.5rem;
    color: #ffffff;
}

.sidebar article span a:hover {
    color: rgb(70, 233, 255);
}
/* 
/* to hide class */
/* .start-hide {
    display: none;
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin: 0 5%;
    padding: 2rem 0 2rem 0;
} 

.front-hide {
    display: none;
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin: 0 5%;
    padding: 2rem 0 2rem 0; 

}

.back-hide {
    display: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 5%;
    padding: 2rem 0 2rem 0;

}  */

.tab-focus {
    color: rgb(70, 233, 255);
}

@media only screen and (min-width: 480px) and (max-width: 767px){
    .sidebar{
        top: 112px;
        height: calc(100% - 112px - 40px);
    }
    .sidebarImage {
        width: 100px;
    }
    
}

@media only screen and (min-width: 768px){
    .sidebar {
        top: 70px;
    }
    /* .sidebarImage {
        width: 75%;
        width: 18rem;
    } */
}