*{
    margin: 0;
    padding: 0;
}

#dashboardHTML {
    background-color: #eeeeee;
    padding: 3rem 3rem 3rem 3rem;
}

.cell > article {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.cell > article h4 {
    font-size: 2.4rem;
    letter-spacing: 1.4px;
    margin-bottom: .9rem;
}

#dashboardHTML .content {
    margin-bottom: 0;
}

#dashboardHTML .content.profileStatsData {
    padding: 3rem 0;
    border-style: solid;
    border-color: #c6c6c6;
}

#dashboardHTML .grid.gutters.cols-3 > .cell > .content {
    border-width: .1rem .1rem 0;
}

#dashboardHTML .grid.gutters.cols-3:nth-of-type(2) > .cell:nth-child(3) > .content {
    border-width: .1rem;
}

#dashboardHTML article .profileStatsData {
    text-align: center;
}

#dashboardHTML .h1Data, .h1Date {
    font-size: 7.2rem;
    letter-spacing: 4.3px;
}

#dashboardHTML .h5Data {
    font-size: 2.0rem;
    letter-spacing: 1.2px;
}

#dashboardHTML > .content.container > .grid.gutters.half.grow > .cell > article {
    height: 100%;
}

.fc-dateRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#dashboardHTML .imAttending .fc-dateRow {
    margin-top: 1rem;
} 

.fc-dateRow .h1Date {
    margin-top: .25rem;
}

.fc-dateRow .fc-dateRowMonthYear {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
}

.h4MonthYear {
    font-size: 2.4rem;
    letter-spacing: 1.5px;
    margin-left: 1rem;
}

.h4LessonTitle {
    font-size: 2.4rem;
    letter-spacing: 1.4px;
}

.h4LessonTitle.ucMargin {
    margin: .75rem 0 .35rem 0;
}

.h4LessonTitle.negMarg {
    margin: -.5rem 0 2rem 0;
}

.fc-lessonTitleDescription {
    margin: 1.8rem 0;
}

.fc-lessonTitleDescription p {
    font-size: 1.6rem;
    letter-spacing: 1px;
    padding: 1rem 0; 
}

.fc-taughtByThumbs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.avatarThumbRound {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    margin-top: .75rem;
    margin-right: 1.5rem;
}

#dashboardHTML .fc-seeMore {
    display: flex;
    flex-direction: row-reverse;
}

#dashboardHTML .fc-seeMore .h6seeMore {
    margin-top: .5rem;
}

#dashboardHTML .fc-seeMore .h6seeMore a {
    font-size: 2.4rem;
    text-decoration: none;
    color: #4f4f4f;
}

#dashboardHTML .fc-seeMore .h6seeMore a:hover {
    text-decoration: none;
    color: #00b371;
}

@media only screen and (max-width: 768px){
    #dashboardHTML {
        padding: 2rem;
    }
}

@media only screen and (min-width: 768px) {
    #dashboardHTML .grid.gutters.cols-3:nth-of-type(1) > .cell:nth-child(1) > .content {
        border-width: .1rem;
    }
    
    #dashboardHTML .grid.gutters.cols-3:nth-of-type(1) > .cell:nth-child(2) {
        padding-left: 0;
    }
    
    #dashboardHTML .grid.gutters.cols-3:nth-of-type(1) > .cell:nth-child(2) > .content {
        border-width: .1rem 0;
    }
    
    #dashboardHTML .grid.gutters.cols-3:nth-of-type(1) > .cell:nth-child(3) {
        padding-left: 0;
    }
    
    #dashboardHTML .grid.gutters.cols-3:nth-of-type(1) > .cell:nth-child(3) > .content {
        border-width: .1rem;
    }
    
    #dashboardHTML .grid.gutters.cols-3:nth-of-type(2) > .cell:nth-child(1) > .content {
        border-width: 0 .1rem .1rem .1rem;
    }
    
    #dashboardHTML .grid.gutters.cols-3:nth-of-type(2) > .cell:nth-child(2) {
        padding-left: 0;
    }
    
    #dashboardHTML .grid.gutters.cols-3:nth-of-type(2) > .cell:nth-child(2) > .content {
        border-width: 0 0 .1rem 0;
    }
    
    #dashboardHTML .grid.gutters.cols-3:nth-of-type(2) > .cell:nth-child(3) {
        padding-left: 0;
    }
    
    #dashboardHTML .grid.gutters.cols-3:nth-of-type(2) > .cell:nth-child(3) > .content {
        border-width: 0 .1rem .1rem .1rem;
    }
}