<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Getting Started</title>
</head>
<body>
    <section id="gettingStartedHTML">
        <div class="content container">
            <div class="grid gutters full">
                <div class="cell">
                    <article class="siteMap">
                        <ul class="container">
                            <li><a href="#whoWeAre">Home</a></li>
                            <li><a href="#gettingStarted">Getting Started</a></li>
                        </ul>
                    </article>
                </div>
                <div class="cell">
                    <article class="card">
                        <h4 class="colorGray42 fw500 ttup">Getting Started</h4>
                        <hr>
                        <p>
                            Before you begin, you will need to have a few tools to work on the site. Make sure you have the ones listed in the section below.
                        </p>
                        <ul>
                            <li>
                                <!-- <a href="#gettingStartedGetConnected" class="colorGray55 ttup">Get Connected</a> -->
                                <h5><a href="#gettingStartedGetConnected" class="getStartedLink"><span class="linkText">Get Connected</span> </a></h5>
                                <p>Learn how we stay in communication and where we do our work. We will cover steps to get connected to the RT Slack channel, the Zeplin page for website mockups and the GitHub page. Slack is the best way to stay in contact. Zeplin shows the RT website mockups. The GitHub page allows you to get the code and start contributing once you have the prerequisites.
                                </p>
                            </li>
                            <br>
                            <li>
                                <!-- <a href="#gettingStartedGetPreReqs" class="colorGray55 ttup">Get Prerequisites</a> -->
                                <h5><a href="#gettingStartedGetPreReqs" class="getStartedLink"><span class="linkText">Get Prerequisites</span></a></h5>
                                <p>
                                    Once you are set up with the tools above, you can start contributing to the website. Keep reading to learn about how to get started on the project.
                                </p>
                            </li>
                            <br>
                            <li>
                                <!-- <a href="#gettingStartedGetTheProject" class="colorGray55 ttup">Getting the Project from Git</a> -->
                                <h5><a href="#gettingStartedGetTheProject" class="getStartedLink"><span class="linkText">Getting The Project from Git</span></a></h5>
                                <p>Now that you are connected, find out how to clone the project repository to your local machine and start up a dev server.</p>
                            </li>
                            <br>
                            <li>
                                <!-- <a href="#gettingStartedGetItRight" class="colorGray55 ttup">Creating Changes and Additions</a> -->
                                <h5><a href="#gettingStartedGetItRight" class="getStartedLink"><span class="linkText">Creating Changes and Additions</span></a></h5>
                                <p>Here are some best practices for how to actively contribute. We will show you how to add, commit and push your work back to our GitHub repository.
                                </p>
                            </li>
                            <br>
                            <li>
                                <!-- <a href="#gettingStartedGettingThroughConflicts" class="colorGray55 ttup">Dealing with Merge Conflicts</a> -->
                                <h5><a href="#gettingStartedGettingThroughConflicts" class="getStartedLink"><span class="linkText">Dealing with Merge Conflicts</span></a></h5>
                                <p>
                                    If multiple people are working on the same file, you may encounter situations where the master branch has different changes than what you have locally. When this occurs, you are going to need to resolve these conflicts. Read more for a merge conflict tutorial.
                                </p>
                            </li>
                            <br>
                            <li>
                                <!-- <a href="#gettingStartedBackEndPreRequisites" class="colorGray55 ttup">Back End Prerequisites</a> -->
                                <h5><a href="#gettingStartedBackEndPreRequisites" class="getStartedLink"><span class="linkText">Back End Prerequisites</span></a></h5>
                                <p>
                                    Before working on the back end, you will need to make sure you are set up with the tools in this section.
                                </p>
                            </li>
                            <br>
                            <li>
                                <!-- <a href="#gettingStartedBackEndDeployStack" class="colorGray55 ttup">Deploy Back End Stack</a> -->
                                <h5> <a href="#gettingStartedBackEndDeployStack" class="getStartedLink"><span class="linkText">Deploy Back end stack</span></a></h5>
                                <p>
                                    Find out how to work with the back end AWS stack deployment.
                                </p>
                            </li>
                        </ul>
                        
                    </article>
                </div>
            </div>   
        </div>
    </section>
    <script type="application/javascript" src="./gettingStarted.js"></script>
</body>
</html>