
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>FrontEnd Introduction</title>
    </head>
    <body>
        <section id="frontEndHTML">
            <div class="content container">
                <div class="grid gutters full">
                    <div class="cell">
                        <article class="siteMap">
                            <ul class="container">
                                <li><a href="#whoWeAre">Home</a></li>
                                <li><a href="#frontEnd">Front End</a></li>
                            </ul>
                        </article>
                    </div>
                    <div class="cell">
                        <article class="profileStats card">
                            <h4 class="colorGrayb9 fw900 ttup">FrontEnd Introduction</h4>
                            <hr>
                        </article>
                    </div>
                </div>   
            </div>
        </section>
        <script type="application/javascript" src="./frontEnd.js"></script>
</body>
</html>