<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upcoming Lessons</title>
</head>
<body>
    <section id="gettingStartedGetConnectedHTML">
        <div class="content container">
            <div class="grid gutters full">
                <div class="cell">
                    <article class="card">
                        <h4 class="colorGrayb9 fw900 ttup">Get Connected</h4>
                        <hr>
                        <h5>Slack</h5>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum eum cupiditate molestiae voluptate cum nam praesentium alias rem accusantium nihil repellat optio, numquam minima sit impedit quia ducimus nisi excepturi quidem iste. Harum inventore officia, quia animi tenetur sequi hic eos omnis commodi magnam reprehenderit nostrum voluptate placeat aliquid quibusdam?
                        </p>
                        <h5>Github</h5>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum eum cupiditate molestiae voluptate cum nam praesentium alias rem accusantium nihil repellat optio, numquam minima sit impedit quia ducimus nisi excepturi quidem iste. Harum inventore officia, quia animi tenetur sequi hic eos omnis commodi magnam reprehenderit nostrum voluptate placeat aliquid quibusdam?
                        </p>
                        <h5>Access to Site Mockups</h5>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum eum cupiditate molestiae voluptate cum nam praesentium alias rem accusantium nihil repellat optio, numquam minima sit impedit quia ducimus nisi excepturi quidem iste. Harum inventore officia, quia animi tenetur sequi hic eos omnis commodi magnam reprehenderit nostrum voluptate placeat aliquid quibusdam?
                        </p>
                    </article>
                </div>
            </div>   
        </div>
    </section>
    <script type="application/javascript"  src="./gettingStartedGetConnected.js"></script>
</body>
</html>