<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Getting Started</title>
</head>
<body>
    <section id="gettingStartedGetItRightHTML">
        <div class="content container">
            <div class="grid gutters full">
                <div class="cell">
                    <article class="siteMap">
                        <ul class="container">
                            <li><a href="#whoWeAre">Home</a></li>
                            <li><a href="#gettingStarted">Getting Started</a></li>
                            <li><a href="#gettingStartedGetItRight">Contributing</a></li>
                        </ul>
                    </article>
                </div>
                <div class="cell">
                    <article class="card">
                        <h4 class="colorGray42 fw500 ttup">Creating Changes and Additions</h4>
                        <hr>
                        <p>
                            Now that you are all set up, you can learn how to do work on the site.
                        </p>
                        <h5>Committing Changes</h5>
                        <p>
                            If you have done some work on the website and you want to push your changes to the repository, perform the following commands.
                        </p>

                        <ol>
                            <li>
                                Make sure that the terminal is in the correct project directory, and that project directory is a valid repository.  This can be done by running a <span class="codeSnippetGitCommand">git status</span> command.  There are two possible outcomes:
                            </li>
                            <ol class="alpha-list">
                                <li>
                                    <p>
                                        The terminal is not in a valid repository/location.  If this is the case, you will see the error “fatal: Not a git repository (or any of the parent directories): .git”
                                        <br><br>
		                                If you see this, please navigate into a valid project/repository folder in terminal.
                                    </p>
                                </li>
                                <img src="public/images/02/04/git_check_01_git_status_error.jpg" alt="The fatal status">
                                <p class="img-caption">
                                    The fatal status.
                                </p>
                                <li>
                                    <p>
                                        The terminal is in a valid respository/location.  If this is the case, you will see some notifications about the status of that repository and the current status of any tracked/untracked files that have not yet been committed.
                                    </p>
                                </li>
                                <img src="public/images/02/04/git_check_02_git_status_success.jpg" alt="The successful status">
                                <p class="img-caption">
                                    The successful status.
                                </p>
                            </ol>
                            <li>
                                Add untracked files. 
                            </li>
                            <ol class="alpha-list">
                                <li>
                                    <p>
                                        If you have created new files or made changes to existing ones, you will need to add your changes.
                                    </p>
                                    <ol class="roman-list">
                                        <li>
                                            <p>
                                                First, run the command <span class="codeSnippetGitCommand">git status</span> to make sure that you are on the master branch, which reflects the production-ready state. This will also allow you to see what files have not yet been added, as they will appear in red. Added files will appear in green. 
                                            </p>
                                        </li>
                                        <img src="public/images/contributing/committing1.jpg" alt="The untracked files are displayed in red.">
                                        <p class="img-caption">
                                            The untracked files are displayed in red.
                                        </p>
                                        <li>
                                            <p>
                                                To add files, run the command: <span class="codeSnippetGitCommand">git add <filename></span>.
                                                For example, if you created or edited a file named “readMe1,” you would add the file by running the command: <span class="codeSnippetGitCommand">git add readME1.md</span>.
                                            </p>
                                            <img src="public/images/contributing/committing2.jpg" alt="Add each file (readMe1, readMe2 and readMe3).">
                                            <p class="img-caption">
                                                Add each file (readMe1, readMe2 and readMe3).
                                            </p>
                                            <p>
                                                Once added, they will appear green when you run the <span class="codeSnippetGitCommand">git status</span> command. 
                                            </p>
                                            <img src="public/images/contributing/committing3.jpg" alt="Now that the files have been added, they will appear in green when you check their status.">
                                            <p class="img-caption">
                                                Now that the files have been added, they will appear in green when you check their status.
                                            </p>
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <p>
                                        When you are ready to commit your changes, you can run the commit command, which includes a mandatory message detailing what action you have taken. Do this by running
                                        <span class="codeSnippetGitCommand">git commit -m “”</span> in your terminal. (Inside of the quotation marks, you will type your message details.)    
                                    </p>
                                    <p>
                                        For example, once you are ready to commit readMe1.md, you would run <span class="codeSnippetGitCommand">git commit -m “now I have pushed the files where we have resolved conflicts”</span> in your terminal, or whatever message you choose.
                                    </p>
                                    <img src="public/images/contributing/committing4.jpg" alt="The files have been committed and include a message detailing the action taken.">
                                    <p class="img-caption">
                                        The files have been committed and include a message detailing the action taken.
                                    </p>
                                </li>
                            </ol>
                            <li>
                                <p>
                                    Push up your changes.
                                </p>
                            </li>
                            <ol class="alpha-list">
                                <li>
                                    <p>
                                        To make the final step in pushing your changes to Git, where they will show up in your commit history and in the project directory on GitHub, run the<span class="codeSnippetGitCommand">git push origin master</span> command in your terminal.
                                    </p>
                                    <img src="public/images/contributing/committing5.jpg" alt="The files have been pushed to master.">
                                    <p class="img-caption">
                                        The files have been pushed to master.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        If successful, when future collaborators pull the repository, your changes will have been included. 
                                    </p>
                                </li>
                            </ol>
                        </ol>
                        <div id="myModal" class="modal">
                            <span class="close">&times;</span>
                            <img class="modal-content" id="img01">
                            <div id="caption"></div>
                        </div>
                    </article>
                </div>
            </div>   
        </div>
    </section>
    <script type="application/javascript" src="./gettingStartedGetItRight.js"></script>
</body>
</html>