<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Deploy Backend Stack</title>
</head>

<body>
  <section id="gettingStartedBackEndDeployStackHTML">
    <div class="content container">
      <div class="grid gutters full">
        <div class="cell">
          <article class="siteMap">
            <ul class="container">
              <li>
                <a href="#whoWeAre">Home</a>
              </li>
              <li><a href="#gettingStarted">Getting Started</a></li>
              <li>
                <a href="#gettingStartedBackEndDeployStack">Deploy Back End Stack</a>
              </li>
            </ul>
          </article>
        </div>
        <div class="cell">
          <article class="profileStats card">
            <h4 class="colorGray42 fw500 ttup">Deploy BackEnd Stack</h4>
            <hr>
            <p>
              Please make sure that all the prerequisites are properly installed and configured.  If there is any doubt, please review the previous tab “Back End Prerequisites”.
              <br>
              There are three major components to the Back End AWS Stack Deployment.
            </p>
            <ol>
              <li>
                <h5>deployrtw.py</h5>
                <p>
                  deployrtw.py contains several different aws cli commands that will execute the configuration options contained inside the template.yml file.
                  <br><br>
                  In addition to building the AWS stack, the deployrtw.py file also:
                </p>
                <ol class="alpha-list">
                  <li>
                    <p>
                      Autofills our DynamoDB tables with values, providing default inputs for the skills table.
                    </p>  
                  </li>
                  <li>
                    <p>
                      Exports a .json file of credentials for cognito and s3, both of which are used to connect our front end and back end components.
                    </p>
                  </li>
                  <li>
                    <p>
                      Uploads all of our Lambdas.
                    </p>
                  </li>
                </ol>
              </li>
              <li>
                <h5>template.yml</h5>
                <p>
                  This file is a CloudFormation (the Amazon Web Service which will build our stack) template containing the configuration options for all services web will use for our site.  These include:
                </p>
                <ul class="unorder-list">
                  <li>
                    <p>Api Gateway</p> 
                  </li>
                  <li>
                    <p>Lambda</p>
                  </li>
                  <li>
                    <p>Dynamo DB</p>
                  </li>
                  <li>
                    <p>Cognito</p>
                  </li>
                  <li>
                    <p>s3</p>
                  </li>
                </ul>
              </li>
              <li>
                <h5>Supporting files which include:</h5>
                <ol class="alpha-list">
                  <li>
                    <p>
                      lambdas
                    </p>
                  </li>
                  <li>
                    <p>
                      .json files of default information for DynamoDB Tables
                    </p>
                  </li>
                </ol>
              </li>
            </ol>
          </article>
          <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
          </div>
          <article class="profileStats card">
            <h4 class="colorGray42 fw500 ttup">CloudFormation Configuration</h4>
            <hr>
            <p>
              First, login into your AWS account, and select “CloudFormation” from that huge list of AWS services.  
            </p>
            <img src="public/images/02/07/stack_deployment_01a_CloudFormation.jpg" alt="caption needed">
            <p class="img-caption">
              CloudFormation caption needed
            </p>
            <p>
              If CloudFormation isn’t easily visible, just type it into the search bar.
            </p>
            <img src="public/images/02/07/stack_deployment_01b_CloudFormation_Search.jpg" alt="caption needed">
            <p class="img-caption">
              CloudFormation caption needed
            </p>
            <p>
              Once in CloudFormation, you’ll see a list of available stacks...in this case, there are no stacks, because we haven’t deployed yet!   
            </p>
            <img src="public/images/02/07/stack_deployment_02_CloudFormation_Stacks.jpg" alt="caption needed">
            <p class="img-caption">
              CloudFormation caption needed
            </p>
          </article>
          <article class="profileStats card">
              <h4 class="colorGray42 fw500 ttup">Deployment Tutorial</h4>
              <hr>
              <p>
                1. Make sure that you are inside recursive_thinking_server in your terminal/CLI. 
              </p>
              <img src="public/images/02/07/stack_deployment_03_terminal.jpg" alt="caption needed">
              <p class="img-caption">
                Deployment caption needed
              </p>
              <p>
                2. Run the command <span class="codeSnippetGitCommand">./deployrtw.py</span> in your terminal.   
              </p>
              <img src="public/images/02/07/stack_deployment_04_deployrtw_py.jpg" alt="caption needed">
              <p class="img-caption">
                Deployment caption needed
              </p>
              <p>
                3. Watch the CLI/terminal output.  Make sure that all the commands in the script execute successfully and do not error. 
              </p>
              <img src="public/images/02/07/stack_deployment_05_deployrtw_py_secrets.jpg" alt="caption needed">
              <p class="img-caption">
                Deployment caption needed
              </p>
              <p>
                4. When all the commands execute successfully, log back into your AWS account and select CloudFormation.  “recursive-thinking-server” should now be an available stack, and make sure the message reads “CREATE_COMPLETE” and is green.  A different message, especially one in red, generally indicates an error.   
              </p>
              <img src="public/images/02/07/stack_deployment_06_CloudFormation_Stacks_Success.jpg" alt="caption needed">
              <p class="img-caption">
                Deployment caption needed
              </p>
              <p>
                5. Ouch, my stack!
              </p>
              <p>
                Some users may go through this entire setup process, run the script, receive a message “Successfully created/updated stack - recursive-thinking-server” in terminal but when they go to the AWS CloudFormation Console, the stack does not appear!
              </p>
              <img src="public/images/02/07/where_is_my_stack_00_no_stack.jpg" alt="caption needed">
              <p class="img-caption">
                Deployment caption needed
              </p>
              <p>
                The context is this - AWS has many regions (at the time of writing there are 15 regions worldwide).  For the Back End stack, it is possible to have the same stack in multiple locations, as the stack has a region identifier in its Stack ID.  (This can be seen by clicking the checkbox for a stack, and looking for the Stack ID in the Overview Tab)
              </p>
              <p>
                The AWS region where the stack gets published to is held in the .config file created during the AWS CLI configuration steps. If the current AWS CLI profile is set to a Default region of us-west-2, then the stack is going to be in the Cloudformation Console for JUST that AWS region.
              </p>
              <p>
                The problem here is that when you first create an AWS account, it always defaults to AWS region us-east-1.
              </p>
              <p>
                So the fix, if you know your stack was created successfully, and you know what AWS region is specified in your .config file, go the CloudFormation Console, and click on the “button” that is second from the right.  Clicking this button will reveal a drop down of all AWS regions.
              </p>
              <img src="public/images/02/07/where_is_my_stack_01_aws_stack_regions.jpg" alt="caption needed">
              <p class="img-caption">
                Deployment caption needed
              </p>
              <p>
                In this dropdown, select the region that corresponds to your .config file setting.  In this case, we would select “US West (Oregon)” as this option is us-west-2, which is the region specified in this user’s .config file.
              </p>
              <img src="public/images/02/07/where_is_my_stack_02_aws_stack_correct_region.jpg" alt="caption needed">
              <p class="img-caption">
                Deployment caption needed
              </p>
          </article>
          <article class="profileStats card">
            <h4 class="colorGray42 fw500 ttup">Deploy Back End- Errors and Solutions</h4>
            <hr>
            <ol>
              <li>
                <h5>Error:</h5>
                <p>
                  upload failed: .\{LambdaFolderNameHere}.zip to s3://recursive-thinking-assets-us-west-2-{Custom Folder Name Based on Users Github Email Address}/{Dated Folder (Time of Running Script}/{LambdaFolderNameHere}.zip Parameter validation failed:
                </p>
                <p>
                  Invalid bucket name “recursive-thinking-assets-us-west-2-{Custom Folder Name Based on Users Github Email Addresses}”: Bucket name must match the regex “^[a-zA-Z0-9.\-_]{1, 255}$”
                </p>
                <h5>Context:</h5>
                <p>
                  No s3 bucket (or folder in a bucket) can have the same name.  (this is across all buckets in all users s3).  deployrtw.py creates a unique bucket name using both the stack name and the email address provided in your Git configuration.
                </p>
                <h5>Solution:</h5>
                <p>
                  Check to see if a valid email is configured in Git by running the command <span class="codeSnippetGitCommand">git config --global user.email</span>
                </p>
                <p>
                  What should log to the screen is a properly formatted email address, like {yourNameHere}@{aEmailServiceProvider}.com.
                </p>
                <p>
                  If you do not see a valid email returned, then please set it using the command <span class="codeSnippetGitCommand">git config --global user.email "{yourNameHere}@{aEmailServiceProvider}.com"</span>
                </p>
                <p>
                  (and please note that {yourNameHere} and {aEmailServiceProvider} represent unique information that you provide.  Do not enter these as values…)
                </p>
                <p>
                  Test this again by running the command <span class="codeSnippetGitCommand">git config --global user.email</span>
                </p>
                <p>
                  At this point, you should have a valid email input.  If you don’t, I award you no points, and may god have mercy on your soul.
                </p>
                <p>
                  Re-run the script with the valid email and you should not see this error message.  If the message persists, you may have invalid characters in the email string which fails the regex.  So just fix that.
                </p>
              </li>
            </ol>
          </article>
        </div>
      </div>
    </div>
  </section>
  <script type="application/javascript" src="./gettingStartedBackEndDeployStack.js"></script>
</body>

</html>

