<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get Prerequisites</title>
</head>
<body>
    <section id="gettingStartedGetPreReqsHTML">
        <div class="content container">
            <div class="grid gutters full">
                <div class="cell">
                    <article class="siteMap">
                        <ul class="container">
                            <li><a href="#whoWeAre">Home</a></li>
                            <li><a href="#gettingStarted">Getting Started</a></li>
                            <li><a href="#gettingStartedGetPreReqs">Get Prerequisites</a></li>
                        </ul>
                    </article>
                </div>
                <div class="cell">
                    <article class="card">
                        <h4 class="colorGrayb9 fw900 ttup">Get Prerequisites</h4>
                        <hr>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur quo, facilis nam magni aut nulla quaerat accusamus dolor illo quidem suscipit dolores. In numquam pariatur atque iste earum aspernatur neque!
                            <br><br>
                            Illum accusamus, adipisci eos facilis non fugiat neque odio dolor deleniti porro quos nesciunt cupiditate dolore maiores ipsam quia. Velit et cum delectus molestias fugit, tempora architecto dicta laudantium ipsam?
                        </p>
                        <h5>An IDE (Integrated Development Environment) of your Choice</h5>
                        <ul>
                            <h6>Visual Studio Code:</h6>
                            <li><a href="https://code.visualstudio.com/" target="/">Download VSCode</a></li>
                            <h6>Brackets:</h6>
                            <li><a href="http://brackets.io/" target="/">Download Brackets</a></li>
                            <h6>SublimeText:</h6>
                            <li><a href="https://www.sublimetext.com/" target="/">Download SublimeText</a></li>
                            <h6>WebStorm</h6>
                            <li><a href="https://www.jetbrains.com/webstorm/" target="/">Download Brackets</a></li>
                        </ul>
                        <h5>Node.js</h5>
                        <p> (Make sure you download the correct version for your OS)</p>
                        <ul>
                            <li>
                                <a href="https://nodejs.org/en/" target="/">Download Node.js</a>
                            </li>
                        </ul>
                        <h5>Git</h5>
                        <p> (Make sure you download the correct version for your OS)</p>
                        <ul>
                            <li>
                                <a href="https://git-scm.com/" target="/">Download Git</a>
                            </li>
                            <li>
                                <p>
                                    **Windows Users:  Note that Mac (OSX) has a built in terminal that supports bash.  Windows, by default does not.  When you install Git on Windows, it should by default, install <a href="https://stackoverflow.com/questions/17807485/what-is-the-exact-meaning-of-git-bash">Git Bash</a>, which is the terminal most often used to run git commands.
                                    
                                    Windows users can check for a Git Bash installation simply by searching for it in your start bar or windows explorer.
                                </p>
                            </li>
                        </ul> 
                    </article>
                </div>
            </div>   
        </div>
    </section>
    <script type="application/javascript"  src="./gettingStartedGetPreReqs.js"></script>
</body>
</html>