<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upcoming Lessons</title>
</head>
<body>
    <section id="gettingStartedGetTheProjectHTML">
        <div class="content container">
            <div class="grid gutters full">
                <div class="cell">
                    <article class="card">
                        <h4 class="colorGrayb9 fw900 ttup">"Gitting" the Project</h4>
                        <hr>
                        <h5>An IDE (Integrated Development Environment) of your Choice</h5>
                        <p>
                            <ul>
                                <h6>Visual Studio Code:</h6>
                                <li><a href="">Download VSCode</a></li>
                                <h6>Brackets:</h6>
                                <li><a href="">Download Brackets</a></li>
                                <h6>SublimeText:</h6>
                                <li><a href="">Download SublimeText</a></li>
                            </ul>
                        </p>
                        <h5>Download Node.js</h5>
                        <p> (Make sure its the version for your OS)</p>
                        <h5>Download Git</h5>
                        <p> (Make sure its the version for your OS)</p>
                    </article>
                </div>
            </div>   
        </div>
    </section>
    <script type="application/javascript"  src="./gettingStartedGetTheProject.js"></script>
</body>
</html>