<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get Connected</title>
</head>
<body>
    <section id="gettingStartedGetConnectedHTML">
        <div class="content container">
            <div class="grid gutters full">
                <div class="cell">
                    <article class="siteMap">
                        <ul class="container">
                            <li><a href="#whoWeAre">Home</a></li>
                            <li><a href="#gettingStarted">Getting Started</a></li>
                            <li><a href="#gettingStartedGetConnected">Get Connected</a></li>
                        </ul>
                    </article>
                </div>
                <div class="cell">
                    <article class="card">
                        <h4 class="colorGray42 fw500 ttup">Get Connected</h4>
                        <hr>
                        <h5>Join Recursive Thinking on Slack</h5>
                        <p>
                            <a href="https://recursivethinking.slack.com" target="/"><span class="linkFormatting">Slack</span></a>
                            <p>
                                Use this link to join the Recursive Thinking Slack group. Slack is a collaborative message platform where RT members share news, schedule meetup dates and ask and answer questions. If you do not have an account, you will need to create one. Please talk to Hailey Skelcher or Austin Nevins at Dev Day to be invited to join our channel.
                            </p>
                        </p>
                        <h5>Join Recursive Thinking on GitHub</h5>
                        <p>
                            <a href="https://github.com/RecursiveThinking" target="/"><span class="linkFormatting">GitHub</span></a>
                            <p>
                                Use this link to access the Recursive Thinking GitHub page, which you will need in order to contribute to the website. If you do not have a GitHub account, you will need to create one. Please talk to Hailey Skelcher or Austin Nevins at Dev Day to be invited to the group page.
                            </p>
                        </p>
                        <h5>Access Site Mockups</h5>
                        <p>
                            <a href="https://app.zeplin.io/project/5a35b3271068e9760ef79fc6" target="/"><span class="linkFormatting">Zeplin</span></a>
                            <p>Use this link to access Zeplin, a collaborative platform for designers and developers. You will need to sign up to use the web app (or version of your choice). Contact Hailey Skelcher at Dev Day to get invited to see the mockups for this project.</p>
                        </p>
                    </article>
                </div>
            </div>   
        </div>
    </section>
    <script type="application/javascript"  src="./gettingStartedGetConnected.js"></script>
</body>
</html>