<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Deploy Backend Stack</title>
</head>

<body>
  <section id="gettingStartedBackEndDeployStackHTML">
    <div class="content container">
      <div class="grid gutters full">
        <div class="cell">
          <article class="siteMap">
            <ul class="container">
              <li>
                <a href="#whoWeAre">Home</a>
              </li>
              <li><a href="#gettingStarted">Getting Started</a></li>
              <li>
                <a href="#gettingStartedBackEndDeployStack">Deploy Back End Stack</a>
              </li>
            </ul>
          </article>
        </div>
        <div class="cell">
          <article class="profileStats card">
            <h4 class="colorGray42 fw500 ttup">Deploy BackEnd Stack</h4>
            <hr>
            <p>
              Please make sure that all the prerequisites are properly installed and configured.  If there is any doubt, please review the previous tab “Back End Prerequisites”.
              <br>
              There are three major components to the Back End AWS Stack Deployment.
            </p>
            <ol>
              <li>
                <h5>deployrtw.py</h5>
                <p>
                  deployrtw.py contains several different aws cli commands that will execute the configuration options contained inside the template.yml file.
                  <br><br>
                  In addition to building the AWS stack, the deployrtw.py file also:
                </p>
                <ol class="alpha-list">
                  <li>
                    <p>
                      Autofills our DynamoDB tables with values, providing default inputs for the skills table.
                    </p>  
                  </li>
                  <li>
                    <p>
                      Exports a .json file of credentials for cognito and s3, both of which are used to connect our front end and back end components.
                    </p>
                  </li>
                  <li>
                    <p>
                      Uploads all of our Lambdas.
                    </p>
                  </li>
                </ol>
              </li>
              <li>
                <h5>template.yml</h5>
                <p>
                  This file is a CloudFormation (the Amazon Web Service which will build our stack) template containing the configuration options for all services web will use for our site.  These include:
                </p>
                <ul class="unorder-list">
                  <li>
                    <p>Api Gateway</p> 
                  </li>
                  <li>
                    <p>Lambda</p>
                  </li>
                  <li>
                    <p>Dynamo DB</p>
                  </li>
                  <li>
                    <p>Cognito</p>
                  </li>
                  <li>
                    <p>s3</p>
                  </li>
                </ul>
              </li>
              <li>
                <h5>Supporting files which include:</h5>
                <ol class="alpha-list">
                  <li>
                    <p>
                      lambdas
                    </p>
                  </li>
                  <li>
                    <p>
                      .json files of default information for DynamoDB Tables
                    </p>
                  </li>
                </ol>
              </li>
            </ol>
          </article>
          <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
          </div>
          <article class="profileStats card">
            <h4 class="colorGray42 fw500 ttup">CloudFormation Configuration</h4>
            <hr>
            <p>
              First, login into your AWS account, and select “CloudFormation” from that huge list of AWS services.  
            </p>
            <img src="public/images/02/07/stack_deployment_01a_CloudFormation.jpg" alt="caption needed">
            <p class="img-caption">
              CloudFormation caption needed
            </p>
            <p>
              If CloudFormation isn’t easily visible, just type it into the search bar.
            </p>
            <img src="public/images/02/07/stack_deployment_01b_CloudFormation_Search.jpg" alt="caption needed">
            <p class="img-caption">
              CloudFormation caption needed
            </p>
            <p>
              Once in CloudFormation, you’ll see a list of available stacks...in this case, there are no stacks, because we haven’t deployed yet!   
            </p>
            <img src="public/images/02/07/stack_deployment_02_CloudFormation_Stacks.jpg" alt="caption needed">
            <p class="img-caption">
              CloudFormation caption needed
            </p>
          </article>
          <article class="profileStats card">
              <h4 class="colorGray42 fw500 ttup">Deployment Tutorial</h4>
              <hr>
              <p>

              </p>
          </article>
        </div>
      </div>
    </div>
  </section>
  <script type="application/javascript" src="./gettingStartedBackEndDeployStack.js"></script>
</body>

</html>

