<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Getting Started</title>
</head>
<body>
    <section id="gettingStartedGetItRightHTML">
        <div class="content container">
            <div class="grid gutters full">
                <div class="cell">
                    <article class="siteMap">
                        <ul class="container">
                            <li><a href="#whoWeAre">Home</a></li>
                            <li><a href="#gettingStarted">Getting Started</a></li>
                            <li><a href="#gettingStartedGetItRight">Get It Right</a></li>
                        </ul>
                    </article>
                </div>
                <div class="cell">
                    <article class="card">
                        <h4 class="colorGrayb9 fw900 ttup">Proper Git Techniques</h4>
                        <hr>
                        <p>
                            Made some contributions?  Want to submit those back to the repository (where the project is stored)? You have been working on a copy of the master project. By adding your files, committing them and finally pushing them, you are effectively uploading the new 'master copy' back to the repository.
                            <br><br>
                            If you look at the project folder you cloned earlier, you will see that there is a subdirectory in there called .git. There is a lot going under the hood of that directory but it's just important to know that this is where your changes will be tracked. 
                            <br><br>
                            Open the project folder (containing the .git directory) in your terminal/command prompt. VSCode allows you do do this by right-clicking on the folder or you can navigate to that directory through the terminal. Here we can run a command to see what changes have been made. It's a good idea to double check what files you have modified.
                            <br><br>
                            In the command prompt, type <span class="codeSnippetGitCommand">git status</span>. You will be shown a list of files that have been modified. Files in red need to be staged to commit, files in green have already been staged. Now that you have seen what files were modified, you can upload them back to the master project in 3 steps.
                            <br><br>
                            They need to be added (or staged). Once staged, they can be committed with a message for your collaborators to see what changes have been made. Finally they can be pushed, or uploaded to the master.
                            <br><br>
                            Below are the steps to add your changes using the terminal. VSCode has a very simple way that will also be detailed.
                        </p>
                        <ol>
                            <li>
                                ADD- Any changes you have made to the project since you pulled will need to be added. In the terminal, navigate to the project directory containing the .git subdirectory. Type <span class="codeSnippetGitCommand">git add .</span> if you would like add every file that you have modified. You can also add files one by one by typing <span class="codeSnippetGitCommand">git add <filepath></span> e.g. <span class="codeSnippetGitCommand">git add templates/backEnd.html</span>
                            </li>
                            <li>
                                COMMIT- The file(s) are ready to be committed now. You can double check that they are ready by typing <span class="codeSnippetGitCommand">git status</span> again and verifying that all of the files you wish to commit are green. To commit, <span class="codeSnippetGitCommand">git commit -m 'ex. Added a new user table to the homepage'</span> where -m signals a message and anything in quotes is the message attached to the commit. 
                            </li>
                            <li>
                                PUSH- You can now push your changes back to the repository. Simply type <span class="codeSnippetGitCommand">git push origin master</span> to finalize your changes. If successful, when future collaborators pull the repository, your changes will have been included. 
                                <br><br>** Note! Sometimes two collaborators will be working on the same files at the same time. If they push their changes before you, Git will not be able to reconcile your changes with theirs and you will need to merge the two recent changes. More on that later.
                            </li>
                        </ol>
                        
                        
                    </article>
                </div>
            </div>   
        </div>
    </section>
    <script type="application/javascript" src="./gettingStartedGetItRight.js"></script>
</body>
</html>