<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get Connected</title>
</head>
<body>
    <section id="gettingStartedGetConnectedHTML">
        <div class="content container">
            <div class="grid gutters full">
                <div class="cell">
                    <article class="siteMap">
                        <ul class="container">
                            <li><a href="#whoWeAre">Home</a></li>
                            <li><a href="#gettingStarted">Getting Started</a></li>
                            <li><a href="#gettingStartedGetConnected">Get Connected</a></li>
                        </ul>
                    </article>
                </div>
                <div class="cell">
                    <article class="card">
                        <h4 class="colorGrayb9 fw900 ttup">Get Connected</h4>
                        <hr>
                        <h5>Join Recursive Thinking on Slack</h5>
                        <p>
                            <a href="https://recursivethinking.slack.com" target="/">Slack</a>
                            <p>
                                Above Link will take you to the Recursive Thinking Slack Page.  Please talk to XX at Dev Day in order to be invited to join our channel.
                            </p>
                        </p>
                        <h5>Join Recursive Thinking on Github</h5>
                        <p>
                            <a href="https://github.com/RecursiveThinking" target="/">GitHub</a>
                            <p>
                                Above Link will take you to the Recursive Thinking GitHub page.  Please talk to XX at Dev Day in order to be invited to contribute.
                            </p>
                        </p>
                        <h5>Access to Site Mockups</h5>
                        <p>
                            <a href="https://app.zeplin.io/project/5a35b3271068e9760ef79fc6" target="/">Zeplin</a>
                            <p>The above link will take you to Zeplin, where you'll need to signup to use the web app (or version of your choice).  After this, you should contact XX at Dev Day to get invited to see the mockups, otherwise, you will not be able to see the website mockups</p>
                        </p>
                    </article>
                </div>
            </div>   
        </div>
    </section>
    <script type="application/javascript"  src="./gettingStartedGetConnected.js"></script>
</body>
</html>