<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>"Gitting" The Project</title>
</head>
<body>
    <section id="gettingStartedGetTheProjectHTML">
        <div class="content container">
            <div class="grid gutters full">
                <div class="cell">
                    <article class="siteMap">
                        <ul class="container">
                            <li><a href="#whoWeAre">Home</a></li>
                            <li><a href="#gettingStarted">Getting Started</a></li>
                            <li><a href="#gettingStartedGetPreReqs">Getting The Project</a></li>
                        </ul>
                    </article>
                </div>
                <div class="cell">
                    <article class="card">
                        <h4 class="colorGrayb9 fw900 ttup">"Gitting" the Project</h4>
                        <hr>
                        <p>
                            To work on the Recursive Thinking website project, you’ll need to transfer the project files from the Recursive Thinking GitHub repository to your computer.
                            <br><br>
                            This will be accomplished by running the command <span class="codeSnippetGitCommand">git clone</span> in your terminal/bash/windows CLI.
                            <br><br>
                            There are two different repositiories which you'll need to clone from the Recursive Thinking GitHub Page.                        </p>
                        <!-- <a href="https://github.com/RecursiveThinking" target="/">RecursiveThinking</a> -->
                        <ul>
                            <h6>Front End:</h6>
                            <li><a href="https://github.com/RecursiveThinking/recursive_thinking_website" target="/">recursive-thinking-website</a></li>
                            <h6>Back End:</h6>
                            <li><a href="https://github.com/RecursiveThinking/recursive_thinking_server" target="/">recursive-thinking-server</a></li>
                        </ul>
                        <h5>How to Clone a repository from GitHub</h5>
                        <ol>
                            <li>
                                <p>
                                    First, from your terminal, run <span class="codeSnippetGitCommand">git --version</span>.  This command should return the version number of git that you downloaded and installed.  If it doesn't, you need to repeat the download and installation of Git. (See Get PreReqs)
                                </p> 
                                <p>
                                    If this command returns a version of Git that your machine is running, you are all set to continue!
                                </p>
                            </li>
                            <li>
                                <p>
                                    Second, make sure you are in the directory that you would like the repository to reside.  For Example, if you have a web projects directory - just make sure to navigate inside that folder before you start running the git commands.  This is important because when the git commands are executed, the repository will be located at the location of the current terminal.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Third - go to the the <a href="https://github.com/RecursiveThinking/recursive_thinking_website" target="/">Recursive Thinking Website</a> Github Page.
                                </p>
                                <p>
                                    On the website's main page, under the status/statistics bar - and to the far right of the screen, you should see a green "Clone or Download" Button.
                                </p>
                                <p>
                                    When this button is clicked, you'll see a modal pop up with an address, and most likely titled "Clone with Https".  This address will, depending on your configuration, be either in https:// or ssh.  Since https:// is the default protocol (and using ssh requires special setup), we'll cover how to use only https:// in this section.
                                </p>
                                <p>
                                    The https:// address for the Recursive Thinking Website is: <a href="https://github.com/RecursiveThinking/recursive_thinking_website.git" target="/">https://github.com/RecursiveThinking/recursive_thinking_website.git</a>
                                </p>
                                <p>
                                    Once you have this address, go back to your terminal, and command: <span class="codeSnippetGitCommand">git clone &lt;https://address&gt; </span>
                                </p>
                                <p>
                                    for the Recursive Thinking Website, this would look like:
                                </p>
                                <p>
                                    <span class="codeSnippetGitCommand">
                                        git clone https://github.com/RecursiveThinking/recursive_thinking_website.git
                                    </span>
                                </p>
                                <p>
                                    After executing this command, you should see some additional status reports in your terminal, indicating the current progress, as well as the success/failure of this command.  Of course, we are looking for an indcator that this command was successful.  Additionally, if the command was successful, you should see a folder named "recursive-thinking-website" in the directory where you executed the git clone command.
                                </p>
                                <p>
                                    If you don't get a successful clone, and you don't see the folder in your directory, please re-run these steps until you do.
                                </p>
                                <p>
                                    After you've successfully cloned the website, re-run these steps, but for the recursive-thinking-server.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Last, once the repository has been cloned locally, you can take the steps necessary to setup and run the website.
                                </p>
                                <p>
                                    The Recursive Thinking website uses <a href="https://webpack.js.org/" target="/">Webpack</a> to compile all of the separate HTML, CSS and JavaScript files into a single page application.
                                </p>
                                <p>
                                    Webpack is a part of <a href="https://www.npmjs.com/" target="/">Node Package Manager</a> (NPM) which allows users from all over to share "building blocks" of JavaScript code.
                                </p>
                                <p>
                                    In the Recursive Thinking Website folder, you'll see a file called package.json.  package.json contains all the npm modules needed to run the website.  To install these modules, make sure the terminal is in the recursive_thinking_website folder and run the Node command: <span class="codeSnippetGitCommand">npm install</span>.
                                </p>
                                <p>
                                    If all the required node packages installed successfully, you should now see a "node_modules" folder in the recursive_thinking_website directory.  If you see this folder, the modules are successfully installed, if not please repeat the last step.
                                </p>
                                <p>
                                    Once you have the node_modules folder, you just need to run one more command in your recursive_thinking_website directory - <span class="codeSnippetGitCommand">npm run start</span>
                                </p>
                                <p>
                                    When this command is executed, there will be alot of output in the terminal, and after a few seconds, the site will build in Webpack, then it will open a tab in your default browser, at localhost://8000, and will load the website.
                                </p>
                            </li>
                        </ol>
                        <h5>Other Prerequisites</h5>
                        <p>At this point - you'll be able to run the Front End of the Recursive Thinking Website, but you will not be able to login, as login requires the AWS backend.  Please go to the BackEnd section to understand the prerequisites for the Backend Installation as well as how to install.</p>
                    </article>
                </div>
            </div>   
        </div>
    </section>
    <script type="application/javascript"  src="./gettingStartedGetTheProject.js"></script>
</body>
</html>