<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get Prerequisites</title>
</head>
<body>
    <section id="gettingStartedGetPreReqsHTML">
        <div class="content container">
            <div class="grid gutters full">
                <div class="cell">
                    <article class="siteMap">
                        <ul class="container">
                            <li><a href="#whoWeAre">Home</a></li>
                            <li><a href="#gettingStarted">Getting Started</a></li>
                            <li><a href="#gettingStartedGetPreReqs">Get Prerequisites</a></li>
                        </ul>
                    </article>
                </div>
                <div class="cell">
                    <article class="card">
                        <h4 class="colorGrayb9 fw900 ttup">Get Prerequisites</h4>
                        <hr>
                        <p>
                            Getting closer! To be able to make view and make changes to this project, you will need to install some commonplace software. These will be used for this and most all of your other future development and design projects. 
                            <br><br>
                            But what's it for?
                            <br><br>
                            Your IDE is where you write and edit code. There are a few different options. If you are just getting started, it's recommended to pick one from below and learn on it. You can always switch to a difference IDE later when you have more experience. VSCode is a great one to start with.
                            <br><br>
                            Node.js will be needed to install helper modules (libraries) for JavaScript.
                            <br><br>
                            Git is a version control system to help track changes to the code for our project. With many people working on it, often at the same time, we need a way to save versions of the code so that we don't accidentally overwrite something critical. 
                        </p>
                        <h5>An IDE (Integrated Development Environment) of your Choice</h5>
                        <ul>
                            <h6>Visual Studio Code:</h6>
                            <li><a href="https://code.visualstudio.com/" target="/">Download VSCode</a></li>
                            <h6>Brackets:</h6>
                            <li><a href="http://brackets.io/" target="/">Download Brackets</a></li>
                            <h6>SublimeText:</h6>
                            <li><a href="https://www.sublimetext.com/" target="/">Download SublimeText</a></li>
                            <h6>WebStorm</h6>
                            <li><a href="https://www.jetbrains.com/webstorm/" target="/">Download WebStorm</a></li>
                        </ul>
                        <h5>Node.js</h5>
                        <p> (Make sure you download the correct version for your OS)</p>
                        <ul>
                            <li>
                                <a href="https://nodejs.org/en/" target="/">Download Node.js</a>
                            </li>
                            <li>
                                <p>
                                    You can check if Node and NPM (bundled with Node) are installed by opening your terminal/command line and typing <span class="codeSnippetGitCommand">node -v</span> or <span class="codeSnippetGitCommand">npm -v</span> and hitting 'enter'. It will return a version number below if correctly installed.
                                </p>
                            </li>
                        </ul>
                        <h5>Git</h5>
                        <p> (Make sure you download the correct version for your OS)</p>
                        <ul>
                            <li>
                                <a href="https://git-scm.com/" target="/">Download Git</a>
                            </li>
                            <li>
                                <p>
                                    **Windows Users:  Note that Mac (OSX) has a built in terminal that supports bash.  Windows, by default does not.  When you install Git on Windows, it should by default, install <a href="https://stackoverflow.com/questions/17807485/what-is-the-exact-meaning-of-git-bash">Git Bash</a>, which is the terminal most often used to run git commands.
                                    
                                    Windows users can check for a Git Bash installation simply by searching for it in your start bar or windows explorer.
                                </p>
                            </li>
                        </ul> 
                    </article>
                </div>
            </div>   
        </div>
    </section>
    <script type="application/javascript"  src="./gettingStartedGetPreReqs.js"></script>
</body>
</html>