<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>"Gitting" The Project</title>
</head>
<body>
    <section id="gettingStartedGetTheProjectHTML">
        <div class="content container">
            <div class="grid gutters full">
                <div class="cell">
                    <article class="siteMap">
                        <ul class="container">
                            <li><a href="#whoWeAre">Home</a></li>
                            <li><a href="#gettingStarted">Getting Started</a></li>
                            <li><a href="#gettingStartedGetPreReqs">Get The Project</a></li>
                        </ul>
                    </article>
                </div>
                <div class="cell">
                    <article class="card">
                        <h4 class="colorGray42 fw500 ttup">Getting the Project from GitHub</h4>
                        <hr>
                        <p>
                            To work on the Recursive Thinking website project, you will need to transfer the project files from the RT GitHub repository to your computer. This is done through a git clone.
                            There are two different repositories you will need to clone from the Recursive Thinking GitHub Page.      
                        </p>
                        <h6>Front End:</h6>
                        <ul>
                            <li>
                                <p>
                                    <a href="https://github.com/RecursiveThinking/recursive_thinking_website" target="/">recursive-thinking-website</a>
                                </p>
                            </li>
                        </ul>
                        
                        <h6>Back End:</h6>
                        <ul>
                            <li>
                                <p>
                                    <a href="https://github.com/RecursiveThinking/recursive_thinking_server" target="/">recursive-thinking-server</a>
                                </p>
                            </li>
                        </ul>
                        
                        <p>
                            First, we will work on the front end.
                        </p>
                        <h5>Git Clone</h5>
                        <ol>
                            <li>
                                <p>
                                    Before you begin, run a <span class="codeSnippetGitCommand">git --version</span> command in your terminal. This command should return the version number of Git that you installed. If it does not, you need to repeat the download and installation of Git (see Prerequisites). If this command returns a version of Git that your machine is running, you are all set to continue (e.g. vX.X.X.windows.X).

                                </p> 
                            </li>
                            <li>
                                <p>
                                    Next, make sure you are in the directory/folder where you want the files to go. For example, if you have a web projects directory, navigate into that folder before you start running the git commands. This is important because when the git commands are executed, the repository will be created in the current working directory (where you are in the terminal).
                                </p>
                            </li>
                            <li>
                                <p>
                                    Third, go to the the <a href="https://github.com/RecursiveThinking/recursive_thinking_website" target="/">Recursive Thinking Website</a> GitHub Page. To the far right, you should see a green "Clone or download" button. Click the button to find the address, which will, depending on your configuration, be either in https:// or ssh. Since https:// is the default protocol (and using ssh requires special setup), we will only cover how to use https:// in this section.
                                    The https:// address for the Recursive Thinking Website is:            
                                </p>
                                <p>
                                    <a href="https://github.com/RecursiveThinking/recursive_thinking_website.git">https://github.com/RecursiveThinking/recursive_thinking_website.git</a>
                                </p>
                                <img id="test-modal" class="imgModal" src="public/images/get-the-project/git-clone.jpg" alt="Click the green “Clone or download” button to find the website URL.">
                                <p class="img-caption">
                                    Click the green “Clone or download” button to find the website URL.
                                </p>
                                <div id="myModal" class="modal">
                                    <span class="close">&times;</span>
                                    <img class="modal-content" id="img01">
                                    <div id="caption"></div>
                                </div>
                            </li>
                            <li>
                                <p>
                                    Perform a git clone by running a <span class="codeSnippetGitCommand">git clone https://github.com/RecursiveThinking/recursive_thinking_website.git</span> command.
                                </p>
                                <p>
                                    After executing this command, you should see some additional status reports in your terminal indicating the current progress as well as the success/failure of this command. If the command was successful, you should see a folder named "recursive-thinking-website" in the directory where you executed the git clone command. If you do not get a successful clone, and you do not see the folder in your directory, please re-run these steps until you do.
                                </p>
                            </li>
                            <li>
                                <p>
                                    The Recursive Thinking website uses <a href="https://webpack.js.org/">webpack</a> to compile all of the separate HTML, CSS and JavaScript files into a single page application.
                                </p>
                                <p>
                                    webpack is a part of <a href="https://www.npmjs.com/">Node Package Manager</a> (npm), which allows users from all over to share "building blocks" of JavaScript code.
                                </p>
                                <p>
                                    In the Recursive Thinking Website folder, you will see a file called package.json. The package.json file contains all the npm modules needed to run the website.
                                </p>
                                <p>
                                    Install the required node modules to run webpack by running the <span class="codeSnippetGitCommand">npm install</span> command in your terminal.
                                </p>
                                <p>
                                    If all the required node packages installed successfully, you should now see a "node_modules" folder in the recursive_thinking_website directory. If not, please repeat the last step.
                                </p>
                                <p>
                                    Once you have the node_modules folder, run the <span class="codeSnippetGitCommand">npm run start</span> command in your terminal. This command causes a lot of output in the terminal, so please wait a few seconds for webpack to build/bundle the site files. It will then open a tab in your default browser, at localhost://8000, and will load the website.
                                </p>
                                <ol class="alpha-list">
                                    <li>
                                        <p>
                                            Learn more about npm install <a href="https://docs.npmjs.com/cli/install">here</a>.
                                        </p>
                                        
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <p>
                                    Run the webpack dev server.
                                </p>
                                <ol class="alpha-list">
                                    <li>
                                        <p>
                                            Kick off the build sequence to open a tab in your browser that will show the website by running the <span class="codeSnippetGitCommand">npm run dev-server</span> command in your terminal. Now the project should be up and running and accessible via localhost.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Now the project should be up and running on your local host.
                                        </p>
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <p>
                                    Check the mockups.
                                </p>
                                <ol class="alpha-list">
                                    <li>
                                        <p>
                                            In order to see the mockups, you will need to be added to the Zeplin site. Email <a href="mailto:haileyskelcher@hotmail.com">haileyskelcher@hotmail.com</a> to gain access.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Find the mockups at <a href="https://app.zeplin.io/project/5a35b3271068e9760ef79fc6">https://app.zeplin.io/project/5a35b3271068e9760ef79fc6</a>. 
                                        </p>
                                    </li>
                                </ol>
                            </li>
                        </ol>
                        <h5>Other Prerequisites</h5>
                        <p>At this point, you will be able to run the front end of the Recursive Thinking website, but you will not be able to login, as logging in requires the AWS back end. We will cover back end installation later on in the documentation.</p>
                    </article>
                </div>
            </div>   
        </div>
    </section>
    <script type="application/javascript"  src="./gettingStartedGetTheProject.js"></script>
</body>
</html>