<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Getting Started</title>
</head>
<body>
    <section id="gettingStartedHTML">
        <div class="content container">
            <div class="grid gutters full">
                <div class="cell">
                    <article class="siteMap">
                        <ul class="container">
                            <li><a href="#whoWeAre">Home</a></li>
                            <li><a href="#gettingStarted">Getting Started</a></li>
                        </ul>
                    </article>
                </div>
                <div class="cell">
                    <article class="card">
                        <h4 class="colorGrayb9 fw900 ttup">Getting Started</h4>
                        <hr>
                        <p>
                            Links in this section will get you from zero to commit hero!
                        </p>
                        <ul>
                            <li>
                                <a href="#gettingStartedGetConnected">Get Connected</a>
                                <p>This section will illustrate all the steps to get connected to the organization's Slack Channel, Zeplin page for website mockups and to the GitHub page. Slack is the best way to stay in contact. Zeplin shows the RC website mockups. The GitHub page allows you to get the code and start contributing once you have the prerequisites.</p>
                            </li>
                            <li>
                                <a href="#gettingStartedGetPreReqs">Get Prerequisites</a>
                                <p>
                                    Want to start contributing to the website?  Great!
                                </p>
                                <p>
                                    First though, you will need a few different things.  This section outlines everything you'll need to install before cloning the website repository.
                                </p>
                            </li>
                            <li>
                                <a href="#gettingStartedGetTheProject">Getting the Project</a>
                                <p>You're Connected.  You've installed all the prerequisites. In this final step, we'll discuss how to clone the project repository to your local machine, start up a dev server and start committing!</p>
                            </li>
                            <li>
                                <a href="#gettingStartedGetItRight">Get It Right</a>
                                <p>Here are some best practices for how to actively contribute. We'll show you how to add, commit and push your work back to our GitHub repository. </p>
                            </li>
                            <li>
                                <a href="#gettingStartedBackEndPreRequisites">BackEnd Prerequisites</a>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi dicta libero amet soluta animi pariatur labore debitis veritatis, reiciendis illum obcaecati, voluptas laborum a nihil expedita. Nesciunt quae labore enim.</p>
                            </li>
                            <li>
                                <a href="#gettingStartedBackEndDeployStack">Deploy BackEnd Stack</a>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam molestiae deleniti laboriosam modi debitis vero, magnam maxime, commodi voluptates illo facere aliquid quia provident exercitationem voluptas saepe suscipit numquam minima!</p>
                            </li>
                        </ul>
                        
                    </article>
                </div>
            </div>   
        </div>
    </section>
    <script type="application/javascript" src="./gettingStarted.js"></script>
</body>
</html>